

#logo {
    width: 100px;
}
footer {
    display: flex;
    flex-flow: wrap row;
    height: 450px;
    font-family: 'Times New Roman', Times, serif;
}

.item-direccion img{
    width: 24px;
    margin-right: 10px;
}

[id|="col"] {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#col-1, #col-3 {
    flex: 1 1 200px;
}

#col-2 {
    flex-grow: 3;
}

.item-direccion{
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
}
#col-2 a{
   max-width: fit-content;
    padding-bottom: 10px;
    text-decoration: none;
    color: rgb(126, 138, 247);
}

#col-2 a:hover {
    color: brown;
}