#contenedor {
    border: 2px solid black;
    background-image: url(music\ store.jfif);
    width: 600px;
    height: 400px;
}

.imagen {
    width: 100px;
    height: 100px;
    position: relative
}

#img1{
    top: 20px;
    left: 10px;
}

#img2 {
    top: 290px;
left: 160px;
}

#img3 {
 
    top: 20px;
    left: 270px;
}